.vscode/**
.vscode-test/**
.github/**
screenshots/**
src/**
out/**
node_modules/**
.git/**
.gitignore
*.md
!README.md
!CHANGELOG.md
!examples/acp-swarm/**
tsconfig.json
esbuild.js
.vscode-test.mjs
**/*.map
**/*.ts
!dist/**
opencode.jsonc
scripts/**
package-lock.json
.mimocode/
.versionrc
.agents/
.claude/
.husky/
